<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
회원 상세 페이지입니다.<br />
회원번호 : [[${memberVO.memberNum}]]<br />
회원아이디 : [[${memberVO.memberId}]]<br />
회원이름 :  [[${memberVO.memberName}]]<br />
회원주소 : [[${memberVO.memberAddr}]]<br />
회원상세주소 : [[${memberVO.memberAddr2}]]<br />
우편번호 : [[${memberVO.memberPost}]]<br />
성별 : <span th:if="${memberVO.memberGender == 'M'}" >남자</span> 
	   <span th:if="${memberVO.memberGender == 'F'}" th:text="여자"></span><br />
연락처 : [[${memberVO.memberPhone}]]<br />
이메일 : [[${memberVO.memberEmail}]]<br />
생년월일 : [[${#dates.format(memberVO.memberBirth,'yyyy-MM-dd')}]]<br />
등록일 : [[${#dates.format(memberVO.memberRegiDate,'yyyy-MM-dd')}]]<br />

</body>
</html>