<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr+extraRoadAddr;                
                /*
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }
                var guideTextBox = document.getElementById("guide");
                
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
                */
            }
        }).open();
    }
</script>
</head>
<body>
 <table width="800" align="center">
<tr><td>
주문서
<hr />
1. 주문 상품<br />
</td></tr>
</table>
<table width="800" align="center">
	<tr><td>주문 상품 정보</td> <td>수량/상품금액</td> <td>배송비</td></tr>
	<tr th:each=" vo : ${list}">
		<td><img th:src="|/goods/upload/${vo.goodsIpgoGoodsVO.goodsVO.goodsMain}|" width="30"/>
			[[${vo.goodsIpgoGoodsVO.goodsVO.goodsName}]]
		</td> 
		<td>[[${vo.cartVO.cartQty}]]/[[${vo.goodsIpgoGoodsVO.goodsIpgoVO.goodsPrice}]]</td> 
		<td><span th:if="${vo.goodsIpgoGoodsVO.goodsVO.deliveryCost == 0}" >무료배송</span>
			<span th:if="${vo.goodsIpgoGoodsVO.goodsVO.deliveryCost != 0}" >
				[[${vo.goodsIpgoGoodsVO.goodsVO.deliveryCost}]]
			</span>
		</td>
	</tr>
</table>
<form action="goodsOrder" method="post">
<input type="hidden" name="goodsNums" th:value="${goodsNums}" />
<input type="hidden" name="totalPrice" th:value="${totalPrice}"/>
<table width="800" align="center">
	<tr>
		<td align="left">
			<table width="400" >
				<tr><th colspan=2>2. 배송지 정보 입력</th></tr>
				<tr><td>받는 사람 </td>
					<td><input type="text" name="recieveName" /></td>
				</tr>
				<tr><td>받는 주소 </td>
					<td><input type="text" name="purchaseAddr" id="sample4_roadAddress" readonly="readonly"/>
					<input type="button" value="검색"
						   onclick="javascript:sample4_execDaumPostcode();" /><br />
					<input type="text" name="purchaseAddr2" /><br />
					<input type="text" name="purchasePost" id="sample4_postcode" readonly="readonly" /></td>
				</tr>
				<tr><td>받는 사람 연락처 </td>
					<td><input type="text" name="purchasePhone" /></td>
				</tr>
				<tr><td>주문메세지 </td>
					<td><input type="text" name="message" /></td>
				</tr>
			</table>
		</td>
		<td align="right">
			<table width="400" >
				<tr><th colspan=2>3.결제금액</th></tr>
				<tr><td>총 상품금액 </td><td align="right">[[${goodsPriceTotal}]]</td></tr>
				<tr><td>배송비 </td><td align="right">[[${deliveryCostTotal}]]</td></tr>
				<tr><td colspan=2 align="right">총 결제 금액 : [[${totalPrice}]]</td></tr>
				<tr><td colspan="2"><input type="submit" value="구매하기"/></td>
			</table>		
		</td>
	</tr>
</table>
</form>
</body>
</html>