<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script type="text/javascript">
function fileDel(orgFile, storeFile, btn , kind){
	$.ajax({
		type:'post',
		url:'fileDel',
		dataType:'text',
		data:{"orgFile": orgFile , "storeFile" : storeFile , "kind": kind},
		success:function(result){
			if(result == "1"){
				$(btn).text("삭제취소");
				if(kind == 'main'){
					$("#main").css("display","none");
					$("#mainFile").css("display","");
				}
			}else{
				$(btn).text("삭제");
				if(kind == 'main'){
					$("#main").css("display","");
					$("#mainFile").css("display","none");
				}
			}
		},
		error:function(){
			alert("서버 오류");
		}
	});
}

</script>
</head>
<body>
<form action="goodsUpdate" method="post" th:object="${goodsCommand}" enctype="multipart/form-data">
상품번호 : <input type="text"  name="goodsNum" th:value="${goodsCommand.goodsNum}" readonly="readonly"/>자동부여<br />
상품명 : <input type="text" name="goodsName" th:value="${goodsCommand.goodsName}"/>
		 <span style="color:red" th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span><br />
상품내용 : <textarea rows="10" cols="30" name="goodsContent">[[${goodsCommand.goodsContent}]]</textarea> 
			<span style="color:red"  th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span><br />
배송비 : <input type="number"  min="3000" step="50" max="5000" name="deliveryCost" th:value="${goodsCommand.deliveryCost}"/>
			<span style="color:red"  th:if="${#fields.hasErrors('deliveryCost')}" th:errors="*{deliveryCost}"></span><br />
제조사 : <input type="text" name="manufacturer" th:value="${goodsCommand.manufacturer}" />
		<span style="color:red"  th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></span><br />
직원번호 : <input type="text"  name="empNum" th:value="${goodsCommand.empNum}" readonly="readonly"/>자동부여<br />
메인 이미지<br />
<span id="main">[[${goodsCommand.goodsMainOrg}]]</span>
<input type ="file" name="goodsMain" id="mainFile" style="display:none"/>
<button type="button"  th:attr="onclick=|fileDel('${goodsCommand.goodsMainOrg}',
												 '${goodsCommand.goodsMain}',
												  this,
												  'main');|">삭제</button><br />
<span style="color:red"  th:if="${#fields.hasErrors('goodsMain')}" th:errors="*{goodsMain}"></span><br />												  
등록된 이미지<br />
<div th:each=" file , idx : ${#strings.arraySplit(goodsCommand.goodsImageOrg,'-')}"> 
[[${file}]] <button type="button"  th:attr="onclick=|fileDel('${file}',
												 '${#strings.arraySplit(goodsCommand.goodsImage,'-')[idx.index]}',
												  this,
												  'img');|">삭제</button>
</div>
<input type ="file" name="goodsImage" multiple="multiple"/><br />

<input type="submit" value="상품수정" />
</body>
</html>