<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		var formData = new FormData($("#frm")[0]);
		$.ajax({
			type: "POST",
			dataType : 'json',
			url: "goodsRegist3",
			data:formData,
			enctype:"multipart/form-data",
			contentType : false,
			processData : false,
			beforeSend: formChk,
			success:function(result){
				if(result.SUCCESS){
					alert(result.HEADER);
					location.href="goodsList";
				}else{
					alert("서버오류");
					return false;
				}
			},
			error:function(){
				alert(" 서버오류")
			}
		});
	});
});
function formChk(){
	console.log("beforeSubmit");	
}
</script>
</head>
<body>
상품등록<br />
<form action="goodsRegist" method="post" id="frm" th:object="${goodsCommand}" enctype="multipart/form-data">
상품번호 : <input type="text"  name="goodsNum" th:value="${goodsCommand.goodsNum}" readonly="readonly"/>자동부여<br />
상품명 : <input type="text" name="goodsName" th:value="${goodsCommand.goodsName}"/>
		 <span style="color:red" th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span><br />
상품내용 : <textarea rows="10" cols="30" name="goodsContent">[[${goodsCommand.goodsContent}]]</textarea> 
			<span style="color:red"  th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span><br />
대문이미지 : <input type="file" name="goodsMain" />
			<span style="color:red"  th:if="${#fields.hasErrors('goodsMain')}" th:errors="*{goodsMain}"></span><br />
이미지 :  <input type="file" name="goodsImage" multiple="multiple"/><br />
배송비 : <input type="number"  min="0" step="50" max="5000" name="deliveryCost" th:value="${goodsCommand.deliveryCost}"/>
			<span style="color:red"  th:if="${#fields.hasErrors('deliveryCost')}" th:errors="*{deliveryCost}"></span><br />
제조사 : <input type="text" name="manufacturer" th:value="${goodsCommand.manufacturer}" />
		<span style="color:red"  th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"></span><br />
직원번호 : <input type="text"  name="empNum" th:value="${goodsCommand.empNum}" readonly="readonly"/>자동부여<br />
<input type="button" id="btn" value="상품등록" />
</form>
</body>
</html>