<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
상품번호 : [[${goodsCommand.goodsNum}]]  || 조회수 : [[${goodsCommand.visitCount}]] <br />
상품명 : [[${goodsCommand.goodsNum}]] <br />
상품내용 : <span th:utext="${#strings.replace(goodsCommand.goodsContent, newLineChar, '&lt;br /&gt;') }"></span><br />
배송비 : [[${goodsCommand.deliveryCost}]] <br />
제조사 :  [[${goodsCommand.manufacturer}]] <br />
직원번호 : [[${goodsCommand.empNum}]] <br />
등록일 : [[${#dates.format(goodsCommand.regiDate,'yyyy-MM-dd')}]]<br />
수정한 직원:[[${goodsCommand.updateEmpNum}]] <br />
수정일 : [[${#dates.format(goodsCommand.updateRegiDate,'yyyy-MM-dd')}]] <br />
대문 이미지<br />
<img th:src="|/goods/upload/${goodsCommand.goodsMain}|" /><br />
이미지<br />
<th:block th:each="goodsImage : ${#strings.arraySplit(goodsCommand.goodsImage,'-')}">
	<img th:src="|/goods/upload/${goodsImage}|" /><br />
</th:block>
<th:block th:if="${session.authInfo.grade == 'emp'}">
<a href="javascript:history.back()">뒤로 가기</a> |
<a th:href="@{goodsModify(goodsNum=${goodsCommand.goodsNum})}">수정</a> | 
<a th:href="|goodsDelete/${goodsCommand.goodsNum}|">삭제</a>
</th:block>
</body>
</html>






