<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hkAiRpaProject.repository.PuchaseRepository">
<select id="selectNum" resultType="integer">
	select nvl(max(substr(PURCHASE_NUM,9)), 100) + 1 from purchase
    where substr(PURCHASE_NUM,1 ,8) = to_char(sysdate,'yyyymmdd' )
</select>
<insert id="purchaseInsert" parameterType="purchaseVO">
insert into purchase(PURCHASE_NUM, PURCHASE_DATE, PURCHASE_NAME,PURCHASE_PHONE,
					 PURCHASE_ADDR, PURCHASE_ADDR2,PURCHASE_POST, PURCHASE_MESSAGE, 
					 PURCHASE_STATUS,MEMBER_NUM,PURCHASE_PRICE )
values(#{purchaseNum},sysdate,#{purchaseName},#{purchasePhone}
      ,#{purchaseAddr},#{purchaseAddr2},#{purchasePost},#{purchaseMessage}
      ,'결제대기중',#{memberNum},#{purchasePrice})
</insert>
<insert id="purchaseListInsert" parameterType="purchaseVO" >
insert into purchase_list(PURCHASE_NUM,GOODS_NUM,  PURCHASE_QTY, PURCHASE_PRICE)
select #{purchaseNum}, c.GOODS_NUM, cart_QTY, GOODS_PRICE
from cart c join (select *
                  from (select GOODS_NUM, GOODS_PRICE,
                        RANK() OVER(PARTITION BY GOODS_NUM ORDER BY GOODS_IPGO_NUM desc) goods_RANK
                        from goods_ipgo)
                  where goods_RANK = 1) ipgo
on c.GOODS_NUM = ipgo.GOODS_NUM
where member_num = #{memberNum}
and c.goods_num in 
<foreach collection="goodsNums" item="goodsNum" close=")" open="(" separator="," index="index">
		#{goodsNum}
</foreach>
</insert>
<delete id="cartItemDelete" parameterType="wishVO">
	delete from cart
	where member_num = #{memberNum}
	and goods_num in 
	<foreach collection="goodsNums" item="goodsNum" close=")" open="(" separator="," index="index">
		#{goodsNum}
	</foreach>
</delete>
<resultMap type="goodsVO" id="goodsResultMap">
	<id column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum"/> 
	<result column="goods_Name" jdbcType="VARCHAR"  property="goodsName"/>
	<result column="goods_Content" jdbcType="VARCHAR"  property="goodsContent"/>
	<result column="goods_Main" jdbcType="VARCHAR"  property="goodsMain"/>
	<result column="goods_Main_Org" jdbcType="VARCHAR"  property="goodsMainOrg"/>
	<result column="goods_Image" jdbcType="VARCHAR"  property="goodsImage"/>
	<result column="goods_Image_Org" jdbcType="VARCHAR"  property="goodsImageOrg"/>
	<result column="delivery_Cost" jdbcType="BIGINT"  property="deliveryCost"/>
	<result column="manufacturer" jdbcType="VARCHAR"  property="manufacturer"/>
	<result column="visit_Count" jdbcType="BIGINT"  property="visitCount"/>
	<result column="emp_Num" jdbcType="VARCHAR"  property="empNum"/>
	
	<result column="REGI_DATE" jdbcType="DATE"  property="regiDate"/>
	<result column="UPDATE_EMP_NUM" jdbcType="VARCHAR"  property="updateEmpNum"/>
	<result column="UPDATE_REGI_DATE" jdbcType="DATE"  property="updateRegiDate"/>
</resultMap>
<resultMap type="purchaseVO" id="purchaseResultMap">
	<id column="purchase_Num"  jdbcType="VARCHAR" property="purchaseNum"/>
	<result column="purchase_Date"  jdbcType="DATE" property="purchaseDate"/>
	<result column="purchase_Name"  jdbcType="VARCHAR" property="purchaseName"/>
	<result column="purchase_Phone"  jdbcType="VARCHAR" property="purchasePhone"/>
	<result column="purchase_Addr"  jdbcType="VARCHAR" property="purchaseAddr"/>
	<result column="purchase_Addr2"  jdbcType="VARCHAR" property="purchaseAddr2"/>
	<result column="purchase_Post"  jdbcType="VARCHAR" property="purchasePost"/>
	<result column="purchase_Message"  jdbcType="VARCHAR" property="purchaseMessage"/>
	<result column="purchase_Status"  jdbcType="VARCHAR" property="purchaseStatus"/>
	<result column="member_Num"  jdbcType="VARCHAR" property="memberNum"/>
	<result column="total_price"  jdbcType="BIGINT" property="purchasePrice"/>
</resultMap>
<resultMap type="purchaseListVO" id="purchaseListResultMap">
	<id column="purchase_Num" jdbcType="VARCHAR" property="purchaseNum"/>	
	<id column="goods_Num" jdbcType="VARCHAR" property="goodsNum"/>	
	<result column="purchase_Qty" jdbcType="BIGINT" property="purchaseQty"/>
	<result column="goods_price" jdbcType="BIGINT" property="purchasePrice"/>
</resultMap>
<resultMap type="paymentVO" id="paymentResultMap">
	<id column="purchase_Num" jdbcType="VARCHAR" property="purchaseNum"/>	
	<result column="purchase_Num"  jdbcType="VARCHAR" property="purchaseNum"/>
</resultMap> 

<resultMap type="purchaseListPurchasePaymentGoodsVO" id="paymentPurchaseGoodsMap">
<association property="purchaseVO" javaType="purchaseVO" resultMap="purchaseResultMap"/>
<association property="purchaseListVO" javaType="purchaseListVO" resultMap="purchaseListResultMap"/>
<association property="paymentVO" javaType="paymentVO" resultMap="paymentResultMap"/>
<collection property="goodsVOs" ofType="goodsVO" resultMap="goodsResultMap"/>
</resultMap>

<select id="purchaseList" parameterType="string" resultMap="paymentPurchaseGoodsMap">
select  p.PURCHASE_NUM, PURCHASE_DATE, p.PURCHASE_PRICE total_price, PURCHASE_STATUS
      , pl.PURCHASE_PRICE goods_price , PURCHASE_QTY   
      , g.goods_Num, goods_Name, goods_main
      , CONFIRM_NUMBER
from PURCHASE p join purchase_list pl
on p.PURCHASE_NUM = pl.PURCHASE_NUM join goods g
on pl.goods_num = g.goods_num left outer join payment pt
on p.purchase_num = pt.purchase_num
where member_num = #{memberNum}
</select>







</mapper>