<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn").on("click",function(){
		$.ajax({
			type:'post',
			url:'myPwUpdate',
			data:{'userPw':$("#oldPw").val()},
			dataType:'text',
			beforeSend:function(){
				if($("#oldPw").val() == ""){
					alert("현재비밀번호를 입력해주세요.");
					return false;
				}
			},
			success: resultOk ,
			error:function(){
				alert("서버오류")	
			}
		});
			
	});
});
function resultOk(result, status, xhr, $form){
	if(result == 'true'){
		if($("#userPw").val() != ""){
			if($("#userPw").val() == $("#userPwCon").val()){
				location.href="myPwUpdatePro?userPw="+$("#userPw").val();
			}else{
				$("#pwConErr").text("비밀번호확인이 틀립니다.");
				$("#pwConErr").css("color","red");
				return false;
			}
		}else{
			alert("새 비밀번호를 입력해주세요.");
			return false;
		}
	}else{
		$("#pwErr").text("비밀번호가 틀렸습니다.");
		$("#pwErr").css("color","red");
		return false;
	}
}
</script>
</head>
<body>
현재 비밀번호 : <input type="password" id="oldPw"/><span id="pwErr"></span><br />
바꿀 비밀번호 : <input type="password" id="userPw" /><br />
비밀번호 확인 : <input type="password" id="userPwCon"/><sapn id="pwConErr"></sapn><br />
<button type="button" id="btn">비밀번호변경</button>
</form>
</body>
</html>