<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn").on("click",function(){
		$.ajax({
			type:'post',
			url:'myPwUpdate',
			data:{'userPw':$("#userPw").val()},
			dataType:'text',
			success:function(result){
				console.log(result);
				//alert(result);
				if(result == 'true'){
					location.href="myPwUpdateCon";
				}else{
					$("#pwErr").text("비밀번호가 틀렸습니다.");
					$("#pwErr").css("color","red");
				}
			},
			error:function(){}
		});
	});
});
</script>
</head>
<body>
비밀번호 : <input type="password" id="userPw" />
<button type="button" id="btn">버튼</button><br />
<span id="pwErr"></span>
</body>
</html>